.footer {
  display: flex;
  justify-content: space-between;
  padding: 80px;
  background: #191919;
}

.footer-left h1 {
  color: white;
  font-size: 40px;
  margin-bottom: 10px;
  margin-right: 90px;
}

.socials {
  display: flex;
  gap: 10px;
}

.socials img {
  width: 24px;
}

.footer-links {
  display: flex;
  gap: 90px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.column a {
  color: white;
  text-decoration: none;
}

.platforms {
  display: flex;
  gap: 15px;
  align-items: flex-start;
}

.platforms img {
  width: 28px;
}